<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :vendor_id %><br>
    <%= f.select :vendor_id, Vendor.all.pluck(:name, :id),{include_blank: "Select vendor"} %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.number_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :total_price %><br>
    <%= f.text_field :total_price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script type="text/javascript">
   document.getElementById("item_price").addEventListener("input", myFunction);
   document.getElementById("item_quantity").addEventListener("input", myFunction);
   function myFunction() 
   {
     document.getElementById("item_total_price").value = parseInt(document.getElementById("item_price").value * parseInt(document.getElementById("item_quantity").value));
   }
</script>
